<div class="row">
  <div class="span3">
    <h2>调查列表</h2>
  </div>
  <div class="span9">
    <%= link_to '新建调查', new_survey_path, class: "btn btn-primary pull-right" %>
  </div>
</div>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>at</th>
    <th></th>
  </tr>
  <% @surveys.each do |survey| %>
  <tr>
    <td><%= link_to survey.id, survey %></td>
    <td><%= survey.name %></td>
    <td><%= survey.created_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td>
      <%= link_to '编辑', edit_survey_path(survey), class: "btn btn-mini" %>
      <%= link_to '删除', survey_path(survey), method: :delete, confirm: 'Are you sure?', class: "btn btn-mini btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>